.c-content{
	&__left{
		background-color: $brand-light-blue;
		@include breakpoint (lg){
			min-height: rem(830);
		}
	}
	&__right{
		background-color: $white;
		@include breakpoint (lg){
			min-height: rem(830);
		}
	}
	&__padding{
		padding: rem(20);
	}
}