.c-edit{
	&__up{
		background-color: $lighter-gray;
	}
	&__down{
		background-color: $light-gray;
	}
	&__delete{
		background-color: $medium-gray;
		&-text{
			color: $white;
			a{
				color: $white;
			}
		}
	}
}