//Colors
// --------------------------
$lighter-gray:         								#fbfbfb !default;
$light-gray:         									#efefef !default;
$medium-gray:         								#787878 !default;
$dark-gray:         									#333333 !default;
$black:              									#0a0a0a !default;
$white:             									#fefefe !default;
$brand-light-blue:                    #147ea3 !default;
$brand-medium-blue:                   #117497 !default;
$brand-dark-blue:                    	#023e68 !default;
$brand-purple-sani:                   #e4eaff !default;
$brand-purple-dark-sani:              #742775 !default;
$brand-orange:                        #ff7800 !default;
$warning:                             #f04124 !default;
$error-color: 												#721c24 !default;

$brand-color:                         $brand-light-blue !default;
